.DS_Store
Thumbs.db
*~
HW0/.idea/HW0.iml
HW0/.idea/misc.xml
HW0/.idea/vcs.xml
HW0/.idea/modules.xml
HW0/.idea/workspace.xml
HW2/.idea/misc.xml
HW2/.idea/modules.xml
HW2/.idea/vcs.xml
HW2/.idea/workspace-DESKTOP-G3OH119.xml
HW2/.idea/workspace.xml
HW2/.project
HW2/HW2.iml
HW3/.idea/HW3.iml
HW3/.idea/misc.xml
HW3/.idea/modules.xml
HW3/.idea/vcs.xml
HW3/.idea/workspace.xml
